header p {
    padding-bottom: 1em;
    color: #021859;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    /*text-transform: uppercase;*/
}


input[type=number]{
    width: 80px; 
} 

td input, select {
    font-size: 15px;
    width: 95%;
    text-align: center;
    text-align-last: center
}

#seqnum {
    width: 40px; 
}

.general-parameters-section {
    padding: 1em;
    min-width: 50em;
    background-color: #f6f6f6;
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
    border-radius: 5px;
    /*display: flex;
    flex-direction: column;*/
}

.parameters {
    padding-bottom: 1em;
    display: flex;
}

.row1 {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-width: 0px;
    border-color: green;
    border-style: solid;

}

.row1 input, datalist, option {
    margin: 2px;
    font-size: 15px;
    width: 8em; 
    text-align: center;
}

select {
    margin: 2px;
    font-size: 15px;
    width: 5em;
    text-align: center;
}

#inputAsLabel, #error {
    border: none;
    border-color: transparent;
    background-color: transparent;
    width: 3em;
    text-align: center;
}

#error {
    font-size: 15px;
    color: red;
    width: 100%;
    resize: none;
}

.row1 .growers {
    padding-left: 5px;
    /*margin: 2px;*/
    font-size: 15px;
    width: 20em; 
    text-align: left;
}

.unstyled::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.unstyled::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.commentSection {
}

.comments {
    font-size: 15px;
    padding: 0.5em;
    width: 100%;
    height: 10em;
    text-align: left;
    resize: none;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}


th {
  padding: 4px;
  background-color: #bbbbbb;
  border: 1px solid #000000;
}

td {
  padding: 2px;
  border: 1px solid #888888;
}

table {
    border-spacing: 0px;
    margin-top: 2em;
}


.content1 {
    display: inline-block;
    width: auto;
    border-width: 0px;
    border-color: pink;
    border-style: solid;
}

.table-caption {
    text-align: center;
    padding: 1em;
    background-color: #cccccc;
    border: 1px solid #000000;
    /*font-weight: bold*/
}

#buttonsCells {
    border-width: 0px;
}

.submit {
    padding: 2em;
}


#addLayerButton {
    width: 2em;
    height: 1.5em;
    margin: 2px;
    float: left;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    /*position: relative;*/
    display: inline-block;
    /*padding: 0.5em;*/
    /*line-height: 2.4em;*/
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    /*color: #FF0000;*/
    outline: none;
    border: 1px solid rgba(110,121,128,.8);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 3px;
    background: rgb(206, 220, 231);
 }   
    #addLayerButton:hover {
    color: #fff;
    background: rgb(70, 70, 120); /* Цвет кнопки при наведении курсора */
}

    #addLayerButton:active {
    color: #fff;
    background: rgb(50, 50, 80); /* Цвет кнопки при нажатии */
}

